.appbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.appbar-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height:100px;
}
.appbar-container-mobile{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height:60px;
    margin-left: 19px;
    margin-right:22px;
}
.appbar-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-reverse{
    flex-direction: row-reverse;
}

.logo{    
    width: 162px;

}

.logo-mobile{    
    width: 107px;
    
}


.ref-currency{
    width: 53px;
    height: 16px;
    font-family: NanumGothic;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-left:8px;    
}

.ref-currency-text{
    width: 53px;
    height: 16px;
    font-family: NanumGothic;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-left: 6px;
}


.arrowright{
    padding-left: 4px;
}

$primary: #00d597;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$textcolor: #333333;

.search-container {
    display: flex;
    position: relative;
    padding: 15px 0 0;    
    margin-bottom: 10px;
    width: 50%;
}

.search-field {
    align-self:center;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $textcolor;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown ~ .search-label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.search-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.search-field:focus {
    ~ .search-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
}
/* reset input */
.search-field{
     &:required,&:invalid { box-shadow:none; }
}