.appbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 240px;
    margin-right:240px;
    height:100px;
    &.mobile{
        @extend .appbar;
        margin-left: 15px;
        margin-right:15px;
        margin-top:8px;
        margin-bottom:8px;
        height:40px;
    } 
}

.logo{    
    width: 162px;
    &.mobile{
        width:95px;
    }
}
