.appbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.appbar-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height:100px;
}
.appbar-container-mobile{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height:60px;
    margin-left: 19px;
    margin-right:22px;
}
.appbar-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-reverse{
    flex-direction: row-reverse;
}

.logo{    
    width: 162px;

}

.logo-mobile{    
    width: 107px;
    
}