$placeholder-color:#999;
$placeholder-size:15px;
$primary-color:#00d0bd;
$name-color:#333;
$info-color:#333;
$white-color:#fff;
$padding-size:18px;
.searchlist{
    &-container{
        box-shadow: 0 1px 3px 0 rgba(126, 126, 126, 0.31);
        position:absolute;
        display: flex;
        flex-flow: column;
        border-radius: 4px;        
        bottom:24px;        
        left:240px;      
        width:540px;
        min-height:60px;
        max-height:60px;
        overflow:hidden;
        z-index:2;
        background-color:white;      
        transition:all 0.3s;
        &.mobile{                
            width:calc(100% - 30px);
            bottom:15px;
            left:15px;
            min-height:50px;
            max-height:50px;
            &.selected{
                max-height:calc(100% - 80px);
            }
        }
        &.selected{
            max-height:694px;
            transition:all 0.3s;
        }
    }
    &-open{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;        
        min-width:calc(100%);
        min-height:60px;        
        .icon{
            padding-left:0px;
            padding-right:18px;
            &.selected{
                padding-right:0px;
                padding-left:18px;
                transition:all 0.2s;
                transform:rotate(180deg);
            }
        }
        .text{
            padding-left:18px;
            font-family: NanumGothic;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.1;
            letter-spacing: -0.57px;
            color: $primary-color;
        }
        &.mobile{
            min-height:50px;  
        }        
    }
    &-result{
        display:flex;
        flex-flow: column;
        overflow-y: scroll;
        direction:rtl;
        background: #fbfbfb;
        height:0%;
        transition: all 0.5s;        
        &::-webkit-scrollbar{
            width:2px;    
        }
        &::-webkit-scrollbar-thumb{
            background-color: #00d597;
        }
        &::-webkit-scrollbar-track{
            background-color: #eee;
        }
        &.selected{
            transition: all 0.5s;
            height:100%;
        }
        &-container{
            direction:ltr;
            display:flex;
            flex-flow: row;
<<<<<<< HEAD
            min-height:106px;
            padding:$padding-size;
            width:calc(100% - 38px);            
=======
            height:calc(142px - calc($padding-size * 2));
            padding:$padding-size;
            width:calc(100% - 2px - calc($padding-size * 2));            
>>>>>>> 6926fdf0f3581be9c3dedbf8a9380a9eb2720654
            .body{
                flex-grow: 1;
                .category{
                    font-family: NanumGothic;
                    font-size: 12.8px;
                    font-weight: bold;
                    line-height: 1.38;
                    letter-spacing: -0.46px;
                    color: $primary-color;
                    margin-bottom: 8px;
                }
                .name{
                    font-family: NanumGothic;
                    font-size: 20px;
                    font-weight: bold;                    
                    letter-spacing: -0.71px;
                    color: $name-color;
                    margin-bottom: 8px;
                }
                .address{
                    font-family: NanumGothic;
                    font-size: 16px;
                    letter-spacing: -0.57px;
                    color: $info-color;
                    margin-bottom: 10px;
                }
                .phone{
                    font-family: NanumGothic;
                    font-size: 16px;                    
                    letter-spacing: -0.57px;
                    color: $info-color;
                }
                .distance{
                    font-family: NanumGothic;
                    font-size: 16px;                    
                    letter-spacing: -0.57px;
                    color: $info-color;
                }
            }
            .path{
                align-self: flex-start;
                margin-right:14px;
            }
            .share{
                align-self: flex-start;                
            }

        }
    }
}