$placeholder-color:#999;
$primary-color:#00d0bd;
$white-color:#fff;

.region{
    &-container{
        position: absolute;
        background: $white-color;
        display: flex;
        flex-flow: column;
        top:20px;
        right:240px;    
        z-index: 2;
        &.mobile{
            top:4px;
            right:18px;
        }        
    }
    &-list{
        transition: all 0.3s;
        background: $white-color;
        height:0px;
        overflow-y: scroll;
        direction:rtl;
        &.mobile.selected{
            height:200px;
        }
        &::-webkit-scrollbar{
            width:2px;    
        }
        &::-webkit-scrollbar-thumb{
            background-color: #00d597;
        }
        &::-webkit-scrollbar-track{
            background-color: #eee;
        }
        &.selected{
            height:800px;
        }
    }
    &-item{
        direction:ltr;
        display: flex;
        align-items: center;                
        height:16px;
        padding-top:16px;
        padding-bottom:16px;
        padding-left:40px;
        font-family: NanumGothic;
        font-size: 13px;
        color:#333;
        border-bottom:solid 1px #ececec;
    }
}

.open{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:269px;    
    height:16px;
    padding-top:22px;
    padding-bottom:22px;
    border-radius: 4px;
    border:solid 1px #ececec;
    &.mobile{        
        width:220px;
        padding-top:13px;
        padding-bottom:13px;
    }
    .body{
        display:flex;
        align-items: center;
        .icon{
            width:16px;
            height:16px;
            margin-left:16px;
        }
        .text{
            font-family: NanumGothic;
            font-size: 14px;            
            margin-left:9px;
            &.mobile{            
                font-size: 13px;                
            }
        }
    }
    .dropdown{
        margin-right: 16px;
        height:8px;
        &.mobile{
            
        }
    }
}