.bottom{    
    &-button-editor{
        width: 120px;
        height: 14px;
        border-radius: 18px;
        padding-left:18px;
        padding-right:18px;
        padding-top:12px;
        padding-bottom:12px;
        background-color: #393939;        
        font-family: NanumGothic;
        font-size: 12px;
        font-weight: bold;        
        color: #ffffff;
    }
    &-row{
        display: flex;
        flex-flow: row;    
        justify-content: space-between;
        align-items: center;
    }
    
    &-container{        
        height:38px;
        margin-left: 240px;
        margin-right:240px;
        margin-top:26px;
        margin-bottom:26px;
        font-family: CircularStd;
        font-size: 14px;
        color: #979797;
        &.mobile{            
            margin:15px;
            height:30px;
        }
    }
}