
.contents{
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: stretch;   
}

.contents-mobile{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;   
}