$placeholder-color:#999;
$primary-color:#00d0bd;
$white-color:#fff;
.category{
    &-container{
        position:absolute;
        flex-flow: row;          
        top:24px;
        left:240px;
        width:540px;        
        border-radius: 4px;
        overflow:hidden;
        z-index:1;
        background-color:white;
        box-shadow: 0 1px 3px 0 rgba(126, 126, 126, 0.31);
        &.mobile{            
            top:10px;
            left:15px;        
            width:calc(100% - 30px);
        }
    }
    &-search{
        &-container{
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            height:60px;
            &.mobile{
                height:50px;
            }
        }
    }
    &-button{        
        &-container{
            transition: all 0.3s;
            display: flex;
            flex-wrap: wrap;            
            opacity: 0;
            padding:0px;            
            height:0%;
            &.selected{
                visibility: visible;
                height:100%;
                padding:16px;
                opacity: 1;
                transform: translateY(0rem);
            }
        }
        &-select{
            height:19px;
            border-radius: 18px;
            padding-left:12px;
            padding-right:12px;
            padding-top:8px;
            padding-bottom:9px;
            margin-right:6px;
            margin-bottom:6px;
            border: solid 1px #ececec;
            display: flex;
            flex-flow: row;
            align-items: center;            
            &-text{
                font-family: NanumGothic;
                font-size: 16px;  
                color:#333;
            }
        }
        &-open{
            svg{
                width:16px;
                height:16px;
                padding:22px;
                border: 1px solid #efefef;
                border-top-left-radius: 4px;
                background: $white-color;
                transition: all 0.3s;
                path{
                    transition: all 0.3s;
                    fill:$primary-color;
                }           
                &.selected{                    
                    transition: all 0.3s;
                    background: $primary-color;
                    border: 1px solid $primary-color;
                    path{
                        transition: all 0.3s;
                        fill:$white-color;
                    }                    
                }     
                &.mobile{
                    padding:17px;
                }
            }                                   
        }        
    }
    &-input-container{                             
        height:100%;
        width: 100%;
        display: flex;         
        align-items: center; 
        .search {
            border:none;            
            -webkit-appearance: none;            
            font-family: NanumGothic;
            color: #333;
            font-size: 15px;             
            width: 100%;
            height: 100%;
            align-self: stretch;
            transition: all 0.3s;
            margin-left: 12px;       
            justify-content: center;     
            &.mobile{
                font-size: 16px;  
            }
            
            &:placeholder-shown + .icon {
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translateX(4rem);
                transform: translateX(4rem);
            }
        }
        .icon{
            position: absolute;                
            right:18px;
            display:block;
            transition: all 0.3s;
            transform: translateX(0rem);                
        }
        .tag{
            height:19px;
            border-radius: 18px;
            padding-left:12px;
            padding-right:12px;
            padding-top:8px;
            padding-bottom:9px;                        
            margin-right:4px;
            display: inline-flex;
            flex-flow:row;
            white-space: nowrap;
            background:$primary-color;            
            font-family: NanumGothic;
            font-size: 16px;
            font-weight: bold;
            color:$white-color;                        
            text-align: center;
            min-width:30px;            
            &-wrapper{                
                display: flex;
                align-items: center;                
                width:auto;         
                margin-left:12px;          
            }            
        }  
    }    
}
