$placeholder-color:#999;
$primary-color:#00d0bd;
$white-color:#fff;
.category{
    &-container{
        position:absolute;
        flex-flow: row;          
        top:24px;
        left:240px;
        width:540px;        
        border-radius: 4px;
        overflow:hidden;
        z-index:1;
        background-color:white;
        box-shadow: 0 1px 3px 0 rgba(126, 126, 126, 0.31);
        &.mobile{            
            top:10px;
            left:15px;        
            width:calc(100% - 30px);
        }        
    }
    &-search{
        &-container{
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            height:60px;
            &.mobile{
                height:50px;
            }
        }
    }
    &-button{        
        &-container{
            display: flex;
            flex-wrap: wrap;   
            padding:16px;
            
            
        }
        &-select{
            height:19px;
            border-radius: 18px;
            padding-left:12px;
            padding-right:12px;
            padding-top:8px;
            padding-bottom:9px;
            margin-right:6px;
            margin-bottom:6px;
            border: solid 1px #ececec;
            display: flex;
            flex-flow: row;
            align-items: center;            
            &-text{
                font-family: NanumGothic;
                font-size: 16px;  
                color:#333;
            }
        }
        &-open{
            svg{
                width:16px;
                height:16px;
                padding:22px;
                border: 1px solid #efefef;
                border-top-left-radius: 4px;
                background: $white-color;
                transition: all 0.3s;
                path{
                    transition: all 0.3s;
                    fill:$primary-color;
                }           
                &.selected{                    
                    transition: all 0.3s;
                    background: $primary-color;
                    border: 1px solid $primary-color;
                    path{
                        transition: all 0.3s;
                        fill:$white-color;
                    }                    
                }     
                &.mobile{
                    padding:17px;
                }
            }                                   
        }        
    }
    &-input{        
        &-container {                    
            height:100%;
            width: 100%;
            display: flex;            
            justify-content: center;
            align-items: center;
        }
        &-search {
            border:none;            
            -webkit-appearance: none;            
            font-family: NanumGothic;
            color: #333;
            font-size: 15px;             
            width: 100%;
            height: 100%;
            align-self: stretch;
            transition: all 0.3s;
            padding-left: 18px;
            &.mobile{
                font-size: 16px;  
            }
            &-icon{
                position: absolute;                
                right:18px;
                display:block;
                transition: all 0.3s;
                transform: translateX(0rem);                
            }
            &:placeholder-shown + &-icon {
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translateX(4rem);
                transform: translateX(4rem);
            }
        }        
    }
    
}
